#include "%1%.hpp"
namespace fsml
{ using std::vector; using std::string;

Machine
create%1%()
{
    return Machine{
		// Initial States
		vector<string>{
%2%		},
		// Other States
		vector<string>{
%3%		},
		// Transitions
		vector<FlatStep>{
%4%		}
	};
}

}
