\documentclass{standalone}
\usepackage[utf8]{inputenc}
\usepackage{tikz}
\usetikzlibrary{arrows,automata}
\usepackage{contour}
\contourlength{1pt}
\contournumber{100}

\begin{document}
\begin{tikzpicture}[->,shorten >=1pt,node distance=4.5cm, semithick]

\tikzstyle{initial}=[fill=gray!50!white,text=black]
\tikzstyle{every node}=[font=\footnotesize]

\node[initial,state](%1%){\parbox{1.5cm}{\centering %1%}};
%2%

\path%3%;

\end{tikzpicture}
\end{document}
